<div>
    <input type="password" name="current_password"  placeholder="Current password..." data-ng-model="input.current_password"><br>
    <input type="password" name="new_password" placeholder="New password..." data-ng-model="input.new_password"><br>
    <input type="password" name="new_password_repeat" placeholder="New password repeat..." data-ng-model="input.new_password_repeat"><br>
    <button type="button" data-ng-click="change()"> Posalji</button>

    <div id="hidden_form" style="display: none"></div>
</div>
