<div>
    <input type="text" name="username"  placeholder="Username..." data-ng-model="input.username"><br>
    <input type="text" name="email"  placeholder="Email..." data-ng-model="input.email"><br>
    <input type="password" name="password" placeholder="Password..." data-ng-model="input.password"><br>
    <input type="password" name="password_repeat" placeholder="Password repeat..." data-ng-model="input.password_repeat"><br>
    <input type="text" name="firstname"  placeholder="Username..." data-ng-model="input.firstname"><br>
    <input type="text" name="lastname"  placeholder="Lastname..." data-ng-model="input.lastname"><br>
    <button type="button" data-ng-click="register()"> Posalji</button>

    <div id="hidden_form" style="display: none"></div>
</div>
